.login-form {
  width: 50%;
}

.login-header {
  color: teal;
  text-align: center;
  background-color: #ddd;
}

.login-logo {
  background-color: #ddd;
}

.login-link {
  width: 45%;
  float: left;
}